.game-page-wrapper {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
  padding: 20px 0;
  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }

  .game-info {
    background: #b4b4b4;
    flex: 0 1 20%;
    border-radius: 5px;
    padding: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;

    .game-name {
      text-transform: uppercase;
      color: white;
      font-size: 20px;
    }

    .game-category {
      font-style: italic;
      font-size: 16px;
      margin: 2px 0;
    }

    .game-rating {
      width: 100%;
      text-align: center;
      margin-top: 15px;
      flex-grow: 1;
    }

    @media screen and (max-width: 800px) {
      width: 100%;
      margin-right: 0;
      margin-top: 15px;
    }
  }

  .game-window {
    background: wheat;
    height: 60vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 75%;

    padding: 15px;

    .game-preview {
      max-width: 400px;
      width: 100%;
      //height: 400px;
    }
  }
}

.same-games-wrapper{
  width: 98%;
  margin: auto;
}